@font-face {
    font-family: 'Inter';
    src:
        url('../../fonts/Inter-Variable.woff2') format('woff2'),
        url('../../fonts/Inter-Variable.woff') format('woff'),
        url('../../fonts/Inter-Variable.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
    font-weight: 400 500 600;
}
