:root {
    --black: #1d293d;
    --black2: #0a0a0a;
    --black3: #030213;
    --gray: #45556c;
    --gray2: #314158;
    --gray3: #62748e;
    --gray4: #717182;
    --gray5: #90a1b9;
    --gray6: #f1f5f9;
    --pink: #f3e8ff;
    --white: #ffffff;
    --white2: #e2e8f0;
    --cyan-light: #cbfbf1;
    --green: #00a63e;
    --color-cyan-29: #009689;
    --color-cyan-37: #00bba7;
    --color-cyan-1820: rgba(11, 79, 74, 0.2);
    --color-cyan-180: rgba(11, 79, 74, 0);
    --color-azure-54: #155dfc;
    --color-azure-58: #2b7fff;
    --color-violet-52: #9810fa;
    --color-violet-64: #ad46ff;
    --color-violet-3220: rgba(89, 22, 139, 0.2);
    --color-violet-320: rgba(89, 22, 139, 0);
    --violet: #ad46ff;
    --color-rose-58: #f6339a;
    --color-grey-98: #f8fafc;
    --color-grey-97: #eff6ff;
    --orange: #e17100;

    --stroke: #e2e8f0;

    --item-spacing-s-plus: 24px;
    --item-spacing-s: 12px;
    --item-spacing-m: 32px;

    --line-height-29_25: 1.72;

    --font-family-Font-1: 'Inter', 'sans-serif';
}
