:root {
    --black: #1d293d;
    --gray: #45556c;
    --gray2: #314158;
    --pink: #f3e8ff;
    --color-violet-52: #9810fa;
    --color-violet-3220: rgba(89, 22, 139, 0.2);
    --color-violet-320: rgba(89, 22, 139, 0);
    --violet: #ad46ff;
    --color-grey-98: #f8fafc;
    --color-grey-97: #eff6ff;

    --item-spacing-s-plus: 24px;
    --item-spacing-s: 12px;
    --item-spacing-m: 32px;

    --line-height-29_25: 1.72;
}
