:root {
    --black: #1d293d;
    --black2: #0a0a0a;
    --gray: #45556c;
    --gray2: #314158;
    --gray3: #62748e;
    --gray4: #717182;
    --pink: #f3e8ff;
    --white: #ffffff;
    --color-violet-52: #9810fa;
    --color-violet-64: #ad46ff;
    --color-violet-3220: rgba(89, 22, 139, 0.2);
    --color-violet-320: rgba(89, 22, 139, 0);
    --violet: #ad46ff;
    --color-grey-98: #f8fafc;
    --color-grey-97: #eff6ff;

    --stroke: #e2e8f0;

    --item-spacing-s-plus: 24px;
    --item-spacing-s: 12px;
    --item-spacing-m: 32px;

    --line-height-29_25: 1.72;

    --font-family-Font-1: 'Inter', 'sans-serif';
}
